USE [master]
GO
/****** Object:  Database [CineBusDB]    Script Date: 6/13/2026 11:16:11 ******/
CREATE DATABASE [CineBusDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineBusDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CineBusDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CineBusDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CineBusDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineBusDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineBusDB]
GO
/****** Object:  Table [dbo].[Booking_Items]    Script Date: 6/13/2026 11:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Booking_Id] [int] NOT NULL,
	[Trip_Id] [int] NOT NULL,
	[Seat_Number] [varchar](10) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 6/13/2026 11:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](100) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[Pickup_Dropoff_Location] [nvarchar](255) NULL,
	[Total_Price] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Booking_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 6/13/2026 11:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Bus_Number] [varchar](20) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Total_Seats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 6/13/2026 11:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Departure_Place] [nvarchar](100) NOT NULL,
	[Arrival_Place] [nvarchar](100) NOT NULL,
	[Distance] [float] NOT NULL,
	[Duration_Estimated] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 6/13/2026 11:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Route_Id] [int] NOT NULL,
	[Bus_Id] [int] NOT NULL,
	[Departure_Date] [date] NOT NULL,
	[Departure_Time] [time](7) NOT NULL,
	[Ticket_Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking_Items] ON 

INSERT [dbo].[Booking_Items] ([Id], [Booking_Id], [Trip_Id], [Seat_Number], [Price]) VALUES (1, 1, 1, N'A1', CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[Booking_Items] ([Id], [Booking_Id], [Trip_Id], [Seat_Number], [Price]) VALUES (2, 1, 1, N'A2', CAST(150000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Booking_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [Customer_Name], [Phone], [Email], [Pickup_Dropoff_Location], [Total_Price], [Status], [Booking_Date]) VALUES (1, N'My Tạ', N'01234546', N'taanhmy8@gmail.com', NULL, CAST(300000.00 AS Decimal(18, 2)), N'Đã thanh toán', CAST(N'2026-06-13T11:03:38.673' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([Id], [Bus_Number], [Category], [Total_Seats]) VALUES (1, N'14Y1-365-425', N'Limousine', 15)
INSERT [dbo].[Buses] ([Id], [Bus_Number], [Category], [Total_Seats]) VALUES (2, N'30A-223-141', N'Giường nằm', 45)
SET IDENTITY_INSERT [dbo].[Buses] OFF
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([Id], [Departure_Place], [Arrival_Place], [Distance], [Duration_Estimated]) VALUES (1, N'Quảng Ninh', N'Hà Nội', 260, 2.3)
INSERT [dbo].[Routes] ([Id], [Departure_Place], [Arrival_Place], [Distance], [Duration_Estimated]) VALUES (2, N'Quảng Ninh', N'Thanh Hóa', 1260, 4.3)
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON 

INSERT [dbo].[Trips] ([Id], [Route_Id], [Bus_Id], [Departure_Date], [Departure_Time], [Ticket_Price]) VALUES (1, 1, 1, CAST(N'2026-06-01' AS Date), CAST(N'11:00:00' AS Time), CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[Trips] ([Id], [Route_Id], [Bus_Id], [Departure_Date], [Departure_Time], [Ticket_Price]) VALUES (2, 2, 2, CAST(N'2026-06-02' AS Date), CAST(N'11:30:00' AS Time), CAST(200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Trips] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Trip_Seat]    Script Date: 6/13/2026 11:16:11 ******/
ALTER TABLE [dbo].[Booking_Items] ADD  CONSTRAINT [UQ_Trip_Seat] UNIQUE NONCLUSTERED 
(
	[Trip_Id] ASC,
	[Seat_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buses__8AC4D41BC2190E68]    Script Date: 6/13/2026 11:16:11 ******/
ALTER TABLE [dbo].[Buses] ADD UNIQUE NONCLUSTERED 
(
	[Bus_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (N'Chờ thanh toán') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [Booking_Date]
GO
ALTER TABLE [dbo].[Booking_Items]  WITH CHECK ADD FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Bookings] ([Id])
GO
ALTER TABLE [dbo].[Booking_Items]  WITH CHECK ADD FOREIGN KEY([Trip_Id])
REFERENCES [dbo].[Trips] ([Id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([Bus_Id])
REFERENCES [dbo].[Buses] ([Id])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([Route_Id])
REFERENCES [dbo].[Routes] ([Id])
GO
USE [master]
GO
